.theOuterTable{
	border:solid 2px;
	vertical-align:top;
	text-align:center;
	width:100%;
	margin:auto;
	border-collapse:seperate;
	border-spacing:2px;
}
.leftUpperTitle{
	text-align:center;
	border-bottom:solid 2px;
	vertical-align:top;
	text-align:center;
	width:100%;
	margin:auto;
	border-collapse:seperate;
	border-spacing:2px;
}
.leftmiddlerow{
	text-align:center;
	border-bottom:solid 2px;
	vertical-align:top;
	text-align:center;
	width:100%;
	margin:auto;
	border-collapse:seperate;
	border-spacing:2px;
}
.ToppingsTablePrice{
	text-align:center;
	border:solid 2px;
}
.lab04txt{
	text-decoration:underline;
	font-weight:bold;
}
